.pc,
.tablet,
.mobile{
    font-size: 70px;
    text-align: center;
    display: none;
}

.tablet{
    margin: 70px 0;
}

/* @media(min-width: 1024px){
    .pc{
        display: block;
    }
} */

/* @media(min-width: 740px) and (max-width: 1023px){
    .contact-infor{
        line-height: 2;
    }
} */

@media(max-width:  63.9375em) {
    .place-buy-btn{
        padding: 16px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    

    .ti-icon{
        padding: 14px;
    }

    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
}



@media(max-width: 46.1875em ){
    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-button {
        display: none;
    }


    #navi {
        display: block;
    }

    #navi > li {
        display: block;
    }

    #navi > li:first-child {
        display: inline-block;
    }

    #navi .subnavi{
        position: initial;
        background-color: #333;
    }

    #navi .subnavi a{
        color: #fff;
        padding: 5px 40px;
        line-height: 38.5px;

    }

    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    
    #content .member-img{
        width: 60%;
        justify-content: center;
    }

    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    .contact-form{
        margin-top: 32px;
    }

    .contact-infor{
        line-height: 2;
    }

    .place-buy-btn{
        width: 100%;
        text-align: center;
        border: none;
    }
}